<div class="container">
    <div class="row">    
        <br>
        <mat-card class="custom" *ngFor='let tournament of tournamentList' class="col-lg-3 col-md-3 col-sm-12" style="margin: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><p style="text-align: left;">{{tournament.Name}}</p></mat-card-title>
            </mat-card-header>
            <mat-card-content  style="text-align: justify;">
                <b>Number :</b>{{tournament.Id}}<br>
                <b>Tournament Name :</b>{{tournament.Name}} <br>                   
            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
        </mat-card>
    </div>
</div>