<div class="row">
    <div class="col-sm-5">
       <mat-card class="example-card">
          <mat-card-header  color="primary">
             <div mat-card-avatar class="example-header-image"></div>
             <mat-card-title>Create New Tournament</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <form [formGroup]="CreateTournamentForm" autocomplete="off" class="col-12 white" (ngSubmit)="OnSubmit(CreateTournamentForm)">
                <div class="input-field-class">            
                    <div class="row">
                        <div class="col-sm-8">
                            <mat-form-field>
                                <mat-label>Tournament Name</mat-label>
                                    <input matInput placeholder="Tournament Name" #tournamentName ngModel formControlName="tournamentName"  (blur)="logValidationErrors()">
                                <mat-icon matPrefix>library_books</mat-icon>
                                <mat-error *ngIf="formErrors.tournamentName"><b>{{formErrors.tournamentName}}</b></mat-error>
                            </mat-form-field>
                        </div>

                        <div  class="col-sm-3">
                            <a mat-flat-button color="accent" (click)="ResetCreatTournamentForm()" target="_blank">Create New Tournament</a>                                   
                        </div>
                    </div>                  
                    <div class="row s12">
                        <button color="primary" *ngIf="!EnableUpdate" [disabled]="!CreateTournamentForm.valid" mat-raised-button>Save-Tournament</button>
                    </div> 
                    <div class="row s12" ngif>
                        <button color="warn" *ngIf="EnableUpdate" [disabled]="!CreateTournamentForm.valid" mat-raised-button>Update-Tournament</button>
                    </div>
                    
                </div>
            </form>
          </mat-card-content>
       </mat-card>
    </div>

    <div class="col-sm-7">
       <h4>Recently Created - Tournaments</h4>
       <hr>

       <ol>
           <li class="tournamentList" *ngFor="let tournament of tournamentList; let i = index">
              <div class="row">
                <div class="col-sm-3">
                    {{tournament.Name}}
                </div>
                <div class="col-sm-2">
                    <button mat-raised-button color="accent" (click)="UpdateTournament(tournament.Id)">Update</button>
                </div>
                <div class="col-sm-1">
                    <button mat-raised-button color="warn" (click)="delete(tournament.Id)" >Delete</button>
                </div>
              </div>
              <hr>
           </li>
       </ol>        
    </div>
</div>

        