<div class="container">
    <div class="row">    
        <br>
        <mat-card class="custom" *ngFor='let tournamentEvent of tournamentEventList' class="col-lg-4 col-md-4 col-sm-12" style="margin: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><p style="text-align: left;">{{tournamentEvent.Name}}</p></mat-card-title>
            </mat-card-header>
            <mat-card-content  style="text-align: justify;">
                <b>Number : </b>{{tournamentEvent.eventNumber}}<br>
                <b>Event Name : </b>{{tournamentEvent.Name}} <br>
                <b>Event Date : </b>{{tournamentEvent.EventDateTime | date: 'dd-MM-yyyy'}} <br>  
                <b>Event End-Date : </b>{{tournamentEvent.EventEndDateTime | date: 'dd-MM-yyyy'}} <br> 
                <b>Will Auto Close : </b>{{tournamentEvent.AutoClose ? 'Yes' : 'No' }} <br>                  
            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
        </mat-card>
    </div>
</div>