<div class="row">
    <div class="col-lg">
       <mat-card class="example-card">
         <mat-card-header  color="primary">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Create New Event</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <form [formGroup]="CreateEventForm" autocomplete="off" class="col-12 white" (ngSubmit)="OnSubmit(CreateEventForm)">
                <div class="input-field-class">

                    <div class="row">
                        <mat-form-field  class="col-sm-7">
                            <mat-label>Select Tournament</mat-label>
                                <mat-select #tournamentId formControlName="tournamentId">
                                    <mat-option #tournamentId *ngFor="let tournament of tournamentList; let i = index" [value]= "tournament.Id"> {{i+1}}. {{tournament.Name}}</mat-option>
                                </mat-select>
                            <mat-icon matPrefix>library_books</mat-icon>
                            <mat-error *ngIf="formErrors.tournamentId"><b>{{formErrors.tournamentId}}</b></mat-error>
                        </mat-form-field>
                        
                        <div  class="col-sm-3">
                            <a mat-flat-button color="accent" (click)="ResetCreatNeWEventForm()" target="_blank">Create New</a>                                   
                        </div>
                    </div>   

                    <div class="row">
                        <mat-form-field  class="col-sm-7">
                            <mat-label>Event Name</mat-label>
                                <input matInput placeholder="Event Name" #eventName ngModel formControlName="eventName"  (blur)="logValidationErrors()">
                            <mat-icon matPrefix>library_books</mat-icon>
                            <mat-error *ngIf="formErrors.eventName"><b>{{formErrors.eventName}}</b></mat-error>
                        </mat-form-field>
                    </div> 
                    
                    <div class="row">
                        <mat-form-field  class="col-sm-7">
                            <mat-label>Event Number</mat-label>
                            <mat-select #eventNumber formControlName="eventNumber">
                                <mat-option #eventNumber *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]= "number"> {{number}}</mat-option>
                            </mat-select>
                            <mat-icon matPrefix>library_books</mat-icon>
                            <mat-error *ngIf="formErrors.eventNumber"><b>{{formErrors.eventNumber}}</b></mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="row">
                        <mat-form-field  class="col-sm-5">
                                <input matInput [matDatepicker]="eventDate" placeholder="Event start Date"
                                formControlName="eventDate">
                         <mat-datepicker-toggle matSuffix [for]="eventDate"></mat-datepicker-toggle>
                         <mat-datepicker #eventDate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field  class="col-sm-5">
                                <input matInput [matDatepicker]="eventEndDate" placeholder="Event end Date"
                                formControlName="eventEndDate">
                                <mat-datepicker-toggle matSuffix [for]="eventEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #eventEndDate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field  class="col-sm-5">
                            <mat-label>AutoClose</mat-label>
                                <mat-select #autoClose formControlName="autoClose">
                                    <mat-option value="1"><b>Yes</b></mat-option>
                                    <mat-option value="0"><b>No</b></mat-option>
                                </mat-select>
                            <mat-icon matPrefix>library_books</mat-icon>
                            <mat-error *ngIf="formErrors.autoClose"><b>{{formErrors.autoClose}}</b></mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row s12">
                        <button color="primary" *ngIf="!EnableUpdate" [disabled]="!CreateEventForm.valid" mat-raised-button>Create-Event</button>
                    </div> 
                    <div class="row s12" ngif>
                        <button color="warn" *ngIf="EnableUpdate" [disabled]="!CreateEventForm.valid" mat-raised-button>Update-Event</button>
                    </div>           
                </div>
            </form>
          </mat-card-content>
       </mat-card>
    </div>

    <div class="col-lg">
       <h4>Recently Created - Events</h4>
       <hr>
       <ol>
          <li class="tournamentList" *ngFor="let tournamentEvent of tournamentEventList; let i = index">
            <div class="row">
              <div class="col-sm-2">
                  {{tournamentEvent.Name}}
              </div>
              <div class="col-sm-2">
                  <button mat-raised-button color="accent" (click)="UpdateEvent(tournamentEvent.EventId)">Update</button>
              </div>
              <div class="col-sm-2">
                  <button mat-raised-button color="warn" (click)="delete(tournamentEvent.Name)" >Delete</button>
              </div>
            </div>
            <hr>
          </li>
        </ol>          
    </div>
</div>