::ng-deep .mat-card-header{
    background-color: blue !important;
  } 
  
  ::ng-deep .mat-card-title{
    color: white;
    padding-top: 10px;
  }
  
  ::ng-deep .mat-card-content{
    padding:5px !important;
  }