<div class="row">
    <div class="col-lg">
       <mat-card class="example-card">
          <mat-card-header  color="primary">
             <div mat-card-avatar class="example-header-image"></div>
             <mat-card-title>Create New Event Detail</mat-card-title>
         </mat-card-header>
         <mat-card-content>

            <form [formGroup]="CreateEventDetailForm" autocomplete="off" class="col-12 white" (ngSubmit)="OnSubmit(CreateEventDetailForm)">

                <div class="input-field-class">            
                    <div class="row">
                        <mat-form-field  class="col-sm-7">
                            <mat-label>Select Tournament</mat-label>
                                <mat-select #tournamentId formControlName="tournamentId" (selectionChange)="onSelectTournamentChange($event)">
                                    <mat-option value="">0. Select Tournament</mat-option>
                                    <mat-option  *ngFor="let tournament of tournamentList; let i = index" value={{tournament.Id}}> {{i+1}}. {{tournament.Name}}</mat-option>
                                </mat-select>
                            <mat-icon matPrefix>library_books</mat-icon>
                            <mat-error *ngIf="formErrors.tournamentId"><b>{{formErrors.tournamentId}}</b></mat-error>
                        </mat-form-field>
                    </div> 
                </div> 

                <div class="input-field-class">            
                    <div class="row">
                        <mat-form-field  class="col-sm-7">
                            <mat-label>Select Event</mat-label>
                                <mat-select #tournamentEventId formControlName="tournamentEventId">
                                    <mat-option value="">0. Select Event</mat-option>
                                    <mat-option  *ngFor="let tournamentevent of eventList; let i = index" value={{tournamentevent.EventId}}> {{i+1}}. {{tournamentevent.Name}}</mat-option>
                                </mat-select>
                            <mat-icon matPrefix>library_books</mat-icon>
                            <mat-error *ngIf="formErrors.tournamentEventId"><b>{{formErrors.tournamentEventId}}</b></mat-error>
                        </mat-form-field>
                    </div> 
                </div>

                <div class="row">
                    <mat-form-field  class="col-sm-7">
                        <mat-label>Event Detail Name</mat-label>
                            <input matInput placeholder="Event Detail Name" formControlName="eventDetailName"  (blur)="logValidationErrors()">
                        <mat-icon matPrefix>library_books</mat-icon>
                        <mat-error *ngIf="formErrors.eventDetailName"><b>{{formErrors.eventDetailName}}</b></mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field  class="col-sm-4">
                        <mat-label>Event Detail Number</mat-label>
                            <mat-select #eventDetailNumber formControlName="eventDetailNumber">
                                <mat-option #eventDetailNumber *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]= "number"> {{number}}</mat-option>
                            </mat-select>
                        <mat-icon matPrefix>library_books</mat-icon>
                        <mat-error *ngIf="formErrors.eventDetailNumber"><b>{{formErrors.eventDetailNumber}}</b></mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field  class="col-sm-4">
                        <mat-label>Event Detail Odd</mat-label>
                            <mat-select #eventDetailOdd formControlName="eventDetailOdd">
                                <mat-option #eventDetailOdd *ngFor="let number of [0.23,2.235,3.23,4,5,6,7,8,9,10]" [value]= "number"> {{number}}</mat-option>
                            </mat-select>
                        <mat-icon matPrefix>library_books</mat-icon>
                        <mat-error *ngIf="formErrors.eventDetailOdd"><b>{{formErrors.eventDetailOdd}}</b></mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field  class="col-sm-4">
                        <mat-label>Finishing Position</mat-label>
                            <mat-select #finishingPosition formControlName="finishingPosition">
                                <mat-option #finishingPosition *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]= "number"> {{number}}</mat-option>
                            </mat-select>
                        <mat-icon matPrefix>library_books</mat-icon>
                        <mat-error *ngIf="formErrors.finishingPosition"><b>{{formErrors.finishingPosition}}</b></mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field  class="col-sm-3">
                        <mat-label>Event Status</mat-label>
                            <mat-select #eventDetailStatus formControlName="eventDetailStatus">
                                <mat-option #eventDetailStatus *ngFor="let status of eventStatuses" [value]= "status.Id"> {{status.StatusName}}</mat-option>
                            </mat-select>
                        <mat-icon matPrefix>library_books</mat-icon>
                        <mat-error *ngIf="formErrors.eventDetailStatus"><b>{{formErrors.eventDetailStatus}}</b></mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field  class="col-sm-3">
                        <mat-label>First Time</mat-label>
                            <mat-select #firstTime formControlName="firstTime">
                                <mat-option #firstTime *ngFor="let status of isFirstTime" [value]= "status.Id"> {{status.accept}}</mat-option>
                            </mat-select>
                        <mat-icon matPrefix>library_books</mat-icon>
                        <mat-error *ngIf="formErrors.firstTime"><b>{{formErrors.firstTime}}</b></mat-error>
                    </mat-form-field>
                </div>

                <div class="row s12">
                    <button color="primary" [disabled]="!CreateEventDetailForm.valid" mat-raised-button>Save-Event-Detail</button>
                </div> 
            </form>
          </mat-card-content>
       </mat-card>
    </div>

    <div class="col-lg">
       <h4>Recently Created - Events</h4>
       <hr>
       <ol>
           <li><a>Vaal</a></li>
           <li><a>Jockey-2013</a></li>
       </ol>        
    </div>
</div>

        